@import "./../../stylesheets/variable";

.sidebar-right-container {
  max-width: $sidebar-right-width;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: $main-light-color;
  &.--active {
    z-index: 50;
  }
  .sidebar-right {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    margin-top: 15px;
    border-left: 1px solid $line-color;
    display: flex;
    flex-direction: column;
  }
}
.sidebar-right__top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  .top-menu-input {
    position: relative;
    padding: 0 20px 0 15px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 1px solid $line-color;
    background-color: $medium-white-color;
    span {
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: 1.6rem;
      color: $txt-light-color;
      transform: translateY(calc(-50% + 1px));
      transition: color 0.2s linear;
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.3rem;
      color: $txt-color;
      padding-left: 22px;
      &::placeholder {
        color: $txt-light-color;
      }
    }
  }
  .top-menu-action {
    margin-left: 10px;
    position: relative;
    .top-menu-action__icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 2px solid $txt-light-color;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background-color: $medium-white-color;
      }
      .icon-bell {
        font-size: 1.6rem;
        color: $main-color;
      }
    }
    .top-menu-action__modal {
      width: max-content;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      padding: 15px 10px 10px;
      position: absolute;
      top: calc(100% + 10px);
      right: -10px;
      z-index: 11;
      background-color: $medium-white-color;
      border-radius: 10px;
      box-shadow: $light-box-shadow;
      transform: scale(0);
      transform-origin: calc(100% - 28px) -8px;
      transition: transform 0.3s ease;
      &.--active {
        transform: scale(1);
        transition: transform 0.3s $cubic-bezier;
      }
      &::before {
        content: "";
        position: absolute;
        top: -18px;
        right: 20px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent $medium-white-color transparent;
      }
    }
  }
}
.noti-modal-list {
  max-height: 260px;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $main-light-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 3px;
  }
  .noti-modal-item {
    display: flex;
    align-items: flex-start;
    padding: 12px 12px;
    border-radius: 10px;
    transition: background-color 0.2s linear;
    &:hover {
      background-color: $main-light-color;
    }
    .noti-modal-item__avatar {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $line-color;
      }
    }
    .noti-modal-item__body {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      span {
        &.noti-item-content {
          font-size: 1.3rem;
          color: $txt-color;
        }
        &.noti-item-time {
          font-size: 1.1rem;
          color: $txt-light-color;
        }
      }
    }
  }
}
.noti-modal-see-more {
  padding: 10px 10px 0;
  text-align: center;
  button {
    font-size: 1rem;
    text-transform: none;
    padding: 4px 6px;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
.sidebar-right__suggestion-user {
  border-bottom: 1px solid $line-color;
  padding-bottom: 12px;
  .suggestion-user-title {
    font-size: 1.6rem;
    color: $txt-color;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .suggestion-user-list {
    .suggestion-user-item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      .user-item-avatar {
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 10px;
        border: 1px solid $txt-light-color;
        border-radius: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .user-item-info {
        display: flex;
        flex-direction: column;
        a {
          font-size: 1.3rem;
          color: $txt-color;
          max-width: 180px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: color 0.3s linear;
          &:hover {
            color: $main-color;
          }
        }
        span {
          font-size: 1.2rem;
          color: $txt-light-color;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .user-item-button {
        margin-left: auto;
        padding: 6px 8px;
        font-size: 1.1rem;
        text-transform: none;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
  .suggestion-user-see-all {
    text-align: center;
    a {
      position: relative;
      font-size: 1.2rem;
      color: $main-color;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        height: 1.5px;
        width: 0px;
        background-color: $main-color;
        transition: all 0.3s linear;
      }
      &:hover {
        &::before {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
.sidebar-right__saved-post {
  .saved-post-title {
    margin-top: 20px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 1.6rem;
      color: $txt-color;
      font-weight: 600;
    }
    a {
      position: relative;
      font-size: 1.2rem;
      color: $main-color;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 1px;
        height: 1.5px;
        width: 0px;
        background-color: $main-color;
        transition: all 0.3s linear;
      }
      &:hover {
        &::before {
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .saved-post-content {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    background-color: $medium-white-color;
    border-radius: 10px;
    border: 1px solid $line-color;
    position: relative;
    .post-content-avatar {
      width: 60px;
      height: 60px;
      padding: 6px;
      outline: 6px solid $main-light-color;
      border: 1px solid $line-color;
      border-radius: 100%;
      background-color: $white-color;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .post-content-text {
      margin-top: 25px;
      font-size: 1.2rem;
      color: $txt-color;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .post-content-img {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }
}
