@import "./../../stylesheets/variable";

.sidebar-right-container {
  max-width: $sidebar-right-width;
  width: 100%;
  height: calc(100vh - 40px);
  position: fixed;
  top: 0;
  right: 0;
  .sidebar-right {
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    margin-top: 20px;
    border-left: 1px solid $line-color;
    display: flex;
    flex-direction: column;
  }
}
.sidebar-right__top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  .top-menu-input {
    position: relative;
    padding: 0 20px 0 15px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: 2px solid $txt-light-color;
    span {
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: 1.6rem;
      color: $txt-light-color;
      transform: translateY(calc(-50% + 1px));
      transition: color 0.2s linear;
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.4rem;
      color: $txt-color;
      padding-left: 22px;
      &::placeholder {
        color: $txt-light-color;
      }
    }
  }
  .top-menu-action {
    margin-left: 10px;
    .top-menu-action__icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 2px solid $txt-light-color;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background-color: $light-gray-color;
      }
      .icon-bell {
        font-size: 1.6rem;
        color: $main-color;
      }
    }
    .top-menu-action__modal {
    }
  }
}
.sidebar-right__active-user {
  border-bottom: 1px solid $line-color;
  padding-bottom: 15px;
  .active-user-title {
    font-size: 1.6rem;
    color: $txt-color;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .active-user-list {
    .active-user-item {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      .user-item-avatar {
        width: 40px;
        height: 40px;
        padding: 8px;
        margin-right: 10px;
        border: 1px solid $txt-light-color;
        border-radius: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .user-item-info {
        display: flex;
        flex-direction: column;
        a {
          font-size: 1.4rem;
          color: $txt-color;
          transition: color 0.3 linear;
          &:hover {
            color: $main-color;
          }
        }
        span {
          font-size: 1.2rem;
          color: $txt-light-color;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .user-item-button {
        margin-left: auto;
        padding: 8px 14px;
        font-size: 1.1rem;
        text-transform: none;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
  .active-user-see-all {
    text-align: center;
    span {
      position: relative;
      font-size: 1.4rem;
      color: $main-color;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        height: 2px;
        width: 0px;
        background-color: $main-color;
        transition: all 0.3s linear;
      }
      &:hover {
        font-weight: 600;
        &::before {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
.sidebar-right__lastest-post {
  .lastest-post-title {
    font-size: 1.6rem;
    color: $txt-color;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .lastest-post-content {
  }
}
