@import "./../../stylesheets/variable";

.create-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  z-index: 40;
  .create-modal {
    background-color: $medium-white-color;
    border-radius: 10px;
    box-shadow: $light-box-shadow;
    width: 480px;
    display: flex;
    flex-direction: column;
  }
}
.create-modal__top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 15px;
  border-bottom: 1px solid $line-color;
  .modal-top-title {
    font-size: 1.8rem;
    color: $txt-color;
    font-weight: 600;
  }
  .modal-top-close {
    position: absolute;
    top: 18px;
    right: 13px;
    font-size: 1.6rem;
    color: $txt-white;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $main-color;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
.create-modal__center {
  padding: 20px 20px;
  .modal-center-content {
    width: 100%;
    min-height: 170px;
    max-height: 220px;
    overflow-y: auto;
    padding-right: 8px;
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $medium-white-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $main-color;
      border-radius: 3px;
    }
  }
  .modal-center-text {
    width: 100%;
    min-height: 130px;
    display: flex;
    align-items: flex-start;
    textarea {
      resize: none;
      width: 100%;
      height: 130px;
      background-color: $medium-white-color;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $txt-color;
      border: none;
      outline: none;
      overflow-y: hidden;
      &::placeholder {
        color: $txt-color;
      }
    }
  }
  .modal-center-file {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .modal-center-icon {
    text-align: right;
    margin-top: 10px;
    span {
      font-size: 2.5rem;
      color: $main-color;
      cursor: pointer;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
  .modal-center-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid $line-color;
    .modal-center-more__left {
      font-size: 1.4rem;
      color: $txt-color;
    }
    .modal-center-more__right {
      display: flex;
      align-items: center;
      gap: 5px;
      .more-right-item {
        cursor: pointer;
        position: relative;
        span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          font-size: 2.2rem;
          border-radius: 50%;
          transition: background-color 0.2s linear;
          &:hover {
            background-color: $main-light-color;
          }
        }
        &.--active span {
          background-color: $main-light-color;
        }
        // &.--special-item {
        //   width: 38px;
        //   height: 38px;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        // }
        &.--green-color span {
          color: $green-color;
        }
        &.--orange-color span {
          color: $orange-color;
        }
        &.--red-color span {
          color: $red-color;
        }
      }
    }
  }
}
.create-modal__bottom {
  padding: 0px 15px 15px;
  button {
    width: 100%;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
