@import "./../../stylesheets/variable";

.emotion-modal {
  // position: relative;
  .emotion-modal__icon {
    font-size: 2.5rem;
    color: $main-color;
    cursor: pointer;
    &:hover {
      filter: brightness(1.2);
    }
  }
  .emotion-modal__content {
    width: 100%;
    position: absolute;
    // bottom: calc(100% + 12px);
    // bottom: calc(100% + 8px);
    // right: 50%;
    top: 0;
    right: 0;
    // transform: translateX(50%);
    transform: translate(calc(-50% - 2px), calc(-100% - 3px));
    z-index: 45;
    background-color: $white-color;
    box-shadow: $light-box-shadow;
    border-radius: 10px;
    // border-radius: 10px 10px 0px 10px;
    max-width: 360px;
    min-width: 300px;
    padding: 12px 12px;
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity 0.2s linear;
    &.--active {
      visibility: visible;
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      // left: calc(50% - 10px);
      left: 50%;
      bottom: -20px;
      border-style: solid;
      border-width: 10px;
      border-color: $white-color transparent transparent transparent;
    }
    .emotion-modal-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      // gap: 5px;
      .emotion-modal-item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s linear;
        user-select: none;
        &:hover {
          background-color: $main-light-color;
        }
      }
    }
  }
}
