@import "../../stylesheets/variable";

.message-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .message-item-wrapper--combo {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: -8px;
  }
  .message-item-wrapper {
    display: flex;
    position: relative;
    max-width: 280px;
    width: 100%;
  }
  &.message-item--reverse {
    justify-content: flex-end;
    .message-item-wrapper {
      flex-direction: row-reverse;
      margin-top: -8px;
      .message-item__avatar {
        margin-right: 0;
        margin-left: 10px;
      }
      .message-item__content {
        &::before {
          left: -10px;
        }
        .message-content-text {
          background-color: $main-light-color;
        }
        .message-content-tool {
          right: unset;
          left: -4px;
          transform: translate(-100%, 0);
          padding-left: 6px;
          padding-right: 4px;
        }
      }
    }
    .message-item-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $main-light-color;
      border-radius: 12px;
      padding: 6px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.message-item__avatar {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid $line-color;
  overflow: hidden;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.message-item__content {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: -10px;
    content: "";
    width: 10px;
    height: 100%;
    background-color: transparent;
  }
  .message-content-text {
    display: flex;
    flex-direction: column;
    padding: 11px;
    background-color: $white-color;
    border-radius: 12px;
    .text-name {
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 5px;
      color: $txt-light-color;
    }
    .text-content {
      font-size: 1.3rem;
      line-height: 1.8rem;
      color: $txt-color;
    }
    .media-content {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      .media-content-item {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
  }
  .message-content-tool {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2px;
    position: absolute;
    top: 0;
    right: -4px;
    padding-left: 4px;
    padding-right: 6px;
    transform: translate(100%, 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity 0.3s linear;
    .message-content-tool__time {
      font-size: 1rem;
      color: $txt-light-color;
      white-space: nowrap;
    }
    .message-content-tool__icon {
      display: flex;
      .tool-icon-wrapper {
        position: relative;
        // &:not(:last-child) {
        //   margin-right: 10px;
        // }
        span {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 1.3rem;
          color: $txt-color;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
  &:hover .message-content-tool {
    visibility: visible;
    opacity: 1;
  }
}
