@import "./../../stylesheets/variable";

.post-item-wrapper {
  .post-item {
    padding: 20px 20px 8px 20px;
    display: flex;
    flex-direction: column;
    background-color: $medium-white-color;
    border-radius: 10px;
    border: 1px solid $line-color;
  }
}
.post-item__header {
  display: flex;
  align-items: center;
  .post-header-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .post-header-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    a {
      font-size: 1.4rem;
      font-weight: 600;
      color: $txt-color;
      transition: color 0.2s linear;
      &:hover {
        color: $main-color;
      }
    }
    span {
      font-size: 1.1rem;
      color: $txt-light-color;
    }
  }
  .post-header-tool {
    margin-left: auto;
    display: flex;
    position: relative;
    .post-header-tool__icon {
      position: relative;
      z-index: 13;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 1.8rem;
      color: $txt-light-color;
      cursor: pointer;
      transition: color 0.2s linear;
      &:hover {
        color: $main-color;
      }
    }
    .post-header-tool__list {
      width: max-content;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      padding: 10px 10px;
      position: absolute;
      top: calc(100% + 3px);
      right: -5px;
      z-index: 8;
      background-color: $medium-white-color;
      border-radius: 10px;
      box-shadow: $light-box-shadow;
      transform: scale(0);
      transform-origin: calc(100% - 22px) -4px;
      transition: transform 0.3s ease;
      &.--active {
        transform: scale(1);
        transition: transform 0.3s $cubic-bezier;
      }
      &::before {
        content: "";
        position: absolute;
        top: -18px;
        right: 10px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent $medium-white-color transparent;
      }
      .post-tool-item {
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s linear;
        &:hover {
          background-color: $main-light-color;
        }
        span {
          color: $txt-color;
          font-size: 1.3rem;
          &:first-child {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 1.6rem;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
.post-item__body {
  margin-top: 10px;
  .post-body-text {
    .post-body-text__content {
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $txt-color;
      margin-top: 5px;
    }
    .post-body-text__more {
      display: inline-block;
      font-size: 1.3rem;
      color: $txt-light-color;
      cursor: pointer;
      margin-top: 2px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .post-body-img {
    margin-top: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
}
.post-item__footer {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid $line-color;
  .post-footer-like {
    cursor: pointer;
    span {
      &:first-child {
        margin-right: 1px;
      }
      // &:last-child {
      //   font-size: 1.3rem;
      //   color: $txt-color;
      // }
      &:last-child {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .post-footer-comment {
    margin-left: auto;
    span:first-child {
      margin-right: 3px;
      font-weight: 600;
    }
  }
  .post-footer-comment,
  .post-footer-like {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    color: $txt-color;
    cursor: pointer;
    transition: color 0.2s linear;
    &:hover {
      color: $main-color;
    }
  }
}
.post-item__taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px 0;
  .post-taskbar-icon {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    font-size: 1.3rem;
    color: $txt-color;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s linear;
    &.--active {
      color: $main-color;
      font-weight: 600;
    }
    &:hover {
      background-color: $main-light-color;
    }
    i {
      font-size: 1.6rem;
      margin-right: 5px;
    }
  }
  // .post-taskbar-like {
  // }
  // .post-taskbar-comment {
  // }
  // .post-taskbar-save {
  // }
}
.post-item__comment-box {
  margin-top: 7px;
  border-top: 1px solid $line-color;
}
.comment-box-list {
  display: flex;
  flex-direction: column;
  &:not(:empty) {
    padding-top: 20px;
  }
}
.toggle-comment {
  display: inline-flex;
  align-items: center;
  // padding-top: 5px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: $txt-color;
  cursor: pointer;
  margin-left: 5px;
  i {
    transform: rotate(180deg);
    font-size: 1.2rem;
    margin-right: 4px;
  }
  span:hover {
    text-decoration: underline;
  }
}
.comment-box-item {
  position: relative;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &.comment-box-lv1-item {
    &.--empty-child {
      .comment-box-line {
        display: none;
      }
    }
  }
  .comment-box-line {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 45px;
    left: 20px;
    background-color: rgba($main-light-color, 0.5);
  }
  &.comment-box-lv2-list .comment-box-lv2-item > .comment-box-line {
    left: -35px;
    top: 5px;
    height: calc(100%);
  }
  &.comment-box-lv2-list
    .comment-box-lv2-item
    .comment-box-item__lv2
    .comment-box-line {
    left: 15px;
    top: 35px;
  }
  &.comment-box-lv3-list .comment-box-lv3-item > .comment-box-line {
    left: -35px;
    top: 5px;
    height: calc(100%);
  }
}
.comment-box-item--style {
  display: flex;
  position: relative;
  overflow: hidden;
  .comment-box-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $line-color;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.comment-box-item__lv2,
  &.comment-box-item__lv3 {
    .comment-box-avatar {
      width: 30px;
      height: 30px;
    }
  }
  .comment-box-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
    position: relative;
    .comment-box-body__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 12px;
      border-radius: 18px;
      background-color: $main-light-color;
      .comment-content-name {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 600;
        color: $txt-color;
        &:hover {
          text-decoration: underline;
          color: $main-color;
        }
      }
      .comment-content-text {
        font-size: 1.3rem;
        line-height: 2rem;
        color: $txt-color;
        a {
          font-size: 1.3rem;
          font-weight: 600;
          color: $txt-color;
          margin-right: 3px;
          &:hover {
            text-decoration: underline;
            color: $main-color;
          }
        }
      }
      .comment-content-like-count {
        min-width: 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        border: 1px solid $line-color;
        background-color: $medium-white-color;
        display: flex;
        align-items: center;
        padding: 1px 2px;
        transform: translateX(65%);
        span {
          &:first-child {
            width: 15px;
            height: 15px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &:last-child {
            font-size: 1.1rem;
            line-height: 1.3rem;
            color: $txt-color;
            margin-left: 2px;
            margin-top: 1px;
          }
        }
      }
      .comment-content-edit {
        position: absolute;
        right: -10px;
        top: 2px;
        z-index: 2;
        transform: translate(calc(100% - 2px), 0);
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity 0.2s linear;
        &.--active {
          visibility: visible;
          opacity: 1;
        }
        .comment-edit-icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          font-size: 1.4rem;
          color: $txt-color;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.2s linear;
          &:hover {
            background-color: $main-light-color;
          }
        }
        .comment-edit-menu {
          position: absolute;
          top: 2px;
          left: calc(100% + 10px);
          background-color: $medium-white-color;
          box-shadow: 0 2px 10px 2px rgba($color: #000000, $alpha: 0.04);
          border-radius: 10px;
          padding: 8px 8px;
          visibility: hidden;
          opacity: 0;
          transition: visibility, opacity 0.2s linear;
          &.--active {
            visibility: visible;
            opacity: 1;
          }
          .comment-edit-item {
            padding: 6px 8px;
            border-radius: 8px;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: $txt-color;
            cursor: pointer;
            &:hover {
              background-color: $main-light-color;
            }
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        right: -50px;
        top: 0;
        width: 50px;
        height: 100%;
        background-color: transparent;
      }
      // &:hover .comment-content-edit {
      //   visibility: visible;
      //   opacity: 1;
      // }
    }
    .comment-box-body__tool {
      margin-top: 4px;
      margin-left: 15px;
      .comment-tool {
        font-size: 1.1rem;
        color: $txt-color;
        position: relative;
        user-select: none;
        &:not(:last-child) {
          margin-right: 10px;
          &::after {
            width: 2px;
            height: 2px;
            content: ".";
            position: absolute;
            top: -5px;
            right: -5px;
            color: $txt-color;
            font-weight: 600;
          }
        }
        &-like,
        &-reply {
          font-weight: 600;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        &-like {
          &.--active {
            color: $main-color;
          }
        }
      }
    }
  }
}
.comment-box-item.comment-box-item__child {
  .comment-box-curve {
    position: absolute;
    top: -5px;
    left: -1px;
    transform: translateX(calc(-100% - 6px));
    width: 28px;
    height: 20px;
    border-style: solid;
    border-width: 0 0 3px 3px;
    border-left-color: rgba($main-light-color, 0.6);
    border-bottom-color: rgba($main-light-color, 0.6);
    border-bottom-left-radius: 15px;
  }
}
.comment-box-item__child.comment-box-lv2-list {
  padding-top: 3px;
  padding-left: 55px;
  position: relative;
  &.--non-input {
    .comment-box-lv2-input {
      display: none;
    }
    div.comment-box-lv2-item:nth-last-child(2) .comment-box-line-lv2--toggle {
      display: none;
    }
  }
  &.--non-toggle {
    .comment-box-toggle-tool {
      display: none;
    }
    div.comment-box-lv2-item:nth-last-child(3) .comment-box-line--lv2 {
      display: none;
    }
  }
  &.--both-style {
    div.comment-box-lv2-item:nth-last-child(3) .comment-box-line--lv2 {
      display: block;
    }
  }
  .comment-box-lv2-item {
    position: relative;
    &.--empty-child {
      .comment-box-item__lv2 {
        .comment-box-line {
          display: none;
        }
      }
    }
    &.comment-box-toggle-tool {
      padding-bottom: 10px;
    }
  }
  .comment-box-lv2-input,
  .comment-box-lv3-input {
    position: relative;
    margin-bottom: 10px;
  }
}
.comment-box-item__child.comment-box-lv3-list {
  padding-left: 50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  &.--non-input {
    .comment-box-lv3-input {
      display: none;
    }
    div.comment-box-lv3-item:nth-last-child(2) .comment-box-line-lv3--toggle {
      display: none;
    }
  }
  &.--non-toggle {
    .comment-box-toggle-tool {
      display: none;
    }
    div.comment-box-lv3-item:nth-last-child(3) .comment-box-line--lv3 {
      display: none;
    }
  }
  &.--both-style {
    div.comment-box-lv3-item:nth-last-child(3) .comment-box-line--lv3 {
      display: block;
    }
  }
  .comment-box-lv3-item {
    position: relative;
    margin-top: 5px;
    &.comment-box-toggle-tool {
      padding-bottom: 10px;
    }
    &.comment-box-lv3-input {
      margin-top: 0px;
    }
  }
}
.comment-box-create {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  .comment-box-create__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $line-color;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .comment-box-create__input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 9px 0;
    border-radius: 20px;
    border: 1px solid rgba($color: $line-color, $alpha: 0.5);
    background-color: $main-light-color;
    .input-tag {
      display: inline-block;
      padding: 2px 2px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: $txt-color;
      font-weight: 600;
      background-color: rgba($txt-light-color, 0.4);
      border-radius: 3px;
      &:hover span {
        visibility: visible;
        opacity: 1;
      }
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        right: -6px;
        width: 12px;
        height: 12px;
        font-size: 0.8rem;
        border-radius: 50%;
        color: $txt-color;
        background-color: $txt-light-color;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity 0.2s linear;
      }
    }
    .input-text {
      width: 100%;
      height: 20px;
      font-size: 1.3rem;
      line-height: 2rem;
      color: $txt-color;
      padding: 0px 80px 0px 12px;
      border: none;
      outline: none;
      background-color: transparent;
      resize: none;
      overflow: hidden;
      &::placeholder {
        color: $txt-color;
      }
    }
    .input-tool {
      position: absolute;
      bottom: 8px;
      right: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
      .input-tool-item {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover span {
          color: $main-color;
        }
        span {
          font-size: 1.6rem;
          color: $txt-color;
          transition: color 0.2s linear;
        }
      }
    }
  }
  &.comment-box-create--small {
    margin-top: 0px;
    .comment-box-create__avatar {
      width: 30px;
      height: 30px;
    }
    .comment-box-create__input {
      padding: 6px 0;
      .input-tool {
        bottom: 5px;
      }
    }
  }
}
