@import "./../../stylesheets/variable";

.post-item-wrapper {
  .post-item {
    padding: 20px 20px 12px 20px;
    display: flex;
    flex-direction: column;
    background-color: $medium-white-color;
    border-radius: 10px;
    border: 1px solid $line-color;
  }
}
.post-item__header {
  display: flex;
  align-items: center;
  .post-header-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .post-header-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    a {
      font-size: 1.4rem;
      font-weight: 600;
      color: $txt-color;
      transition: color 0.2s linear;
      &:hover {
        color: $main-color;
      }
    }
    span {
      font-size: 1.1rem;
      color: $txt-light-color;
    }
  }
  .post-header-tool {
    margin-left: auto;
    display: flex;
    position: relative;
    .post-header-tool__icon {
      position: relative;
      z-index: 13;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 1.8rem;
      color: $txt-light-color;
      cursor: pointer;
      transition: color 0.2s linear;
      &:hover {
        color: $main-color;
      }
    }
    .post-header-tool__list {
      width: max-content;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      padding: 10px 10px;
      position: absolute;
      top: calc(100% + 3px);
      right: -5px;
      z-index: 8;
      background-color: $medium-white-color;
      border-radius: 10px;
      box-shadow: $light-box-shadow;
      transform: scale(0);
      transform-origin: calc(100% - 22px) -4px;
      transition: transform 0.3s ease;
      &.--active {
        transform: scale(1);
        transition: transform 0.3s $cubic-bezier;
      }
      &::before {
        content: "";
        position: absolute;
        top: -18px;
        right: 10px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent $medium-white-color transparent;
      }
      .post-tool-item {
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s linear;
        &:hover {
          background-color: $main-light-color;
        }
        span {
          color: $txt-color;
          font-size: 1.3rem;
          &:first-child {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 1.6rem;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
.post-item__body {
  margin-top: 10px;
  .post-body-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $txt-color;
    margin-top: 5px;
  }
  .post-body-img {
    margin-top: 15px;
    margin-bottom: 8px;
    img {
      width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
}
.post-item__footer {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $line-color;
  // .post-footer-like {
  //   cursor: pointer;
  //   span {
  //     &:first-child {
  //       font-size: 1.3rem;
  //       color: $main-color;
  //       margin-right: 5px;
  //     }
  //     &:last-child {
  //       font-size: 1.3rem;
  //       color: $txt-color;
  //     }
  //   }
  // }
  .post-footer-comment {
    margin-left: auto;
  }
  .post-footer-comment,
  .post-footer-like {
    font-size: 1.3rem;
    color: $txt-color;
    cursor: pointer;
    transition: color 0.2s linear;
    span:first-child {
      margin-right: 2px;
      font-weight: 600;
    }
    &:hover {
      color: $main-color;
    }
  }
}
.post-item__taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px 0;
  .post-taskbar-icon {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: $txt-color;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s linear;
    &.--active {
      color: $main-color;
      font-weight: 600;
    }
    &:hover {
      color: $main-color;
    }
    i {
      font-size: 1.6rem;
      margin-right: 5px;
    }
  }
  // .post-taskbar-like {
  // }
  // .post-taskbar-comment {
  // }
  // .post-taskbar-save {
  // }
}
.post-item__comment-box {
  margin-top: 12px;
  padding-top: 20px;
  border-top: 1px solid $line-color;
}
.comment-box-list {
  display: flex;
  flex-direction: column;
}
.comment-box-item {
  position: relative;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  .comment-box-line {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 45px;
    left: 20px;
    background-color: rgba($main-light-color, 0.5);
  }
  &.comment-box-lv2-list .comment-box-lv2-item > .comment-box-line {
    left: -35px;
    top: 5px;
    height: calc(100%);
  }
  &.comment-box-lv2-list
    .comment-box-lv2-item
    .comment-box-item__lv2
    .comment-box-line {
    left: 15px;
    top: 35px;
  }
  &.comment-box-lv3-list .comment-box-lv3-item > .comment-box-line {
    left: -35px;
    top: 5px;
    height: calc(100%);
  }
}
.comment-box-item--style {
  display: flex;
  position: relative;
  overflow: hidden;
  .comment-box-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $line-color;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.comment-box-item__lv2,
  &.comment-box-item__lv3 {
    .comment-box-avatar {
      width: 30px;
      height: 30px;
    }
  }
  .comment-box-body {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    .comment-box-body__content {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      border-radius: 20px;
      background-color: $main-light-color;
      .comment-content-name {
        font-size: 1.3rem;
        font-weight: 600;
        color: $txt-color;
        margin-bottom: 2px;
      }
      .comment-content-text {
        font-size: 1.3rem;
        line-height: 2.1rem;
        color: $txt-color;
      }
    }
    .comment-box-body__tool {
      margin-top: 4px;
      margin-left: 15px;
      .comment-tool {
        font-size: 1.1rem;
        color: $txt-color;
        position: relative;
        &:not(:last-child) {
          margin-right: 10px;
          &::after {
            width: 2px;
            height: 2px;
            content: ".";
            position: absolute;
            top: -5px;
            right: -5px;
            color: $txt-color;
            font-weight: 600;
          }
        }
        &-like,
        &-reply {
          font-weight: 600;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        &-time {
        }
      }
    }
  }
}
.comment-box-item.comment-box-item__child {
  .comment-box-curve {
    position: absolute;
    top: -5px;
    left: -1px;
    transform: translateX(calc(-100% - 6px));
    width: 28px;
    height: 20px;
    border-style: solid;
    border-width: 0 0 3px 3px;
    border-left-color: rgba($main-light-color, 0.6);
    border-bottom-color: rgba($main-light-color, 0.6);
    border-bottom-left-radius: 15px;
  }
}
.comment-box-item__child.comment-box-lv2-list {
  padding-left: 55px;
  position: relative;
  .comment-box-lv2-item {
    position: relative;
  }
  .comment-box-lv2-input,
  .comment-box-lv3-input {
    position: relative;
  }
}
.comment-box-item__child.comment-box-lv3-list {
  padding-left: 50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  .comment-box-lv3-item {
    position: relative;
    margin-top: 5px;
  }
}
.comment-box-create {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  .comment-box-create__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $line-color;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .comment-box-create__input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 9px 0;
    border-radius: 20px;
    border: 1px solid rgba($color: $line-color, $alpha: 0.5);
    background-color: $main-light-color;
    .input-tag {
      display: inline-block;
      padding: 2px 2px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: $txt-color;
      font-weight: 600;
      background-color: rgba($txt-light-color, 0.4);
      border-radius: 3px;
      &:hover span {
        visibility: visible;
        opacity: 1;
      }
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        right: -6px;
        width: 12px;
        height: 12px;
        font-size: 0.8rem;
        border-radius: 50%;
        color: $txt-color;
        background-color: $txt-light-color;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity 0.2s linear;
      }
    }
    .input-text {
      width: 100%;
      height: 20px;
      font-size: 1.3rem;
      line-height: 2rem;
      color: $txt-color;
      padding: 0px 80px 0px 15px;
      border: none;
      outline: none;
      background-color: transparent;
      resize: none;
      overflow: hidden;
      &::placeholder {
        color: $txt-color;
      }
    }
    .input-tool {
      position: absolute;
      bottom: 8px;
      right: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
      .input-tool-item {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover span {
          color: $main-color;
        }
        span {
          font-size: 1.6rem;
          color: $txt-color;
          transition: color 0.2s linear;
        }
      }
    }
  }
  &.comment-box-create--small {
    margin-top: 0px;
    .comment-box-create__avatar {
      width: 30px;
      height: 30px;
    }
    .comment-box-create__input {
      padding: 6px 0;
      .input-tool {
        bottom: 5px;
      }
    }
  }
}
