@import "./variable";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $main-light-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 3px;
  }

  /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }
}
.not-supported {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  .not-supported__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    background-color: $main-light-color;
    border-radius: 10px;
    padding: 30px;
    border: 5px solid $main-color;
    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $txt-color;
      text-align: center;
      font-weight: 600;
      margin-bottom: 10px;
    }
    span {
      font-size: 1.6rem;
      color: $txt-color;
    }
  }
}
.wrapper {
  // width: 1370px;
  // overflow: scroll;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $main-light-color;
  position: relative;
  overflow-y: hidden;
}
.main-content {
  width: calc(100% - ($sidebar-left-width + $sidebar-right-width));
  margin-top: 72px;
  margin-left: $sidebar-left-width;
  position: relative;
  z-index: 21;
}
.main-container {
  width: 100%;
  display: flex;
  .main-body {
    width: 100%;
    min-height: calc(100vh - 72px);
    padding: 20px 20px 20px;
    position: relative;
    z-index: 9;
    background-color: $main-light-color;
  }
}
.btn {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 12px 45px;
  cursor: pointer;
  transition: all 0.3s linear;
  &--primary {
    color: $txt-white;
    background-color: $main-color;
    border: 1px solid $main-color;
  }
  &--rounded {
    border-radius: 30px;
  }
  &--radius-5px {
    border-radius: 5px;
  }
  &--medium-size {
    padding: 7px 20px;
  }
}
