//fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$main-font: "Poppins", sans-serif;

//colors
// $main-color: #8e4cdf;
$main-color: #6e45c7;
$main-light-color: rgba(110, 69, 199, 0.1);
$second-color: #af86f7;

// $txt-color: #455560;
$txt-color: #405281;
$txt-light-color: #a5b6e1;
$txt-white: #fff;

$white-color: #fff;
$light-gray-color: #f7f7f7;
$dark-gray-color: #a6a6a6;
$red-color: #ea4335;
$green-color: #2fa24c;
$orange-color: #f7ba27;

$line-color: #e2eaf6;
//backgrounds
$main-bg: #f8fbff;

//size
$sidebar-left-width: 250px;
$sidebar-right-width: 330px;
