@import "../../stylesheets/variable";

.message {
  display: flex;
  background-color: $medium-white-color;
  border-radius: 10px;
  border: 1px solid $line-color;
  height: calc(100vh - 112px);
  position: relative;
}
.message-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-right: 1px solid $line-color;
  .message-left__header {
    max-height: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px;
    .message-title {
      font-size: 2rem;
      color: $txt-color;
      font-weight: 700;
    }
    .message-tool-left {
      display: flex;
      align-items: center;
      position: relative;
      gap: 5px;
      .tool-left__item {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        // border: 1px solid $txt-light-color;
        // background-color: $main-light-color;
        cursor: pointer;
        transition: background-color 0.2s linear;
        span.tool-left-icon {
          font-size: 1.3rem;
          color: $main-color;
        }
        .tool-left-menu {
          position: absolute;
          top: calc(100% + 8px);
          right: 0;
          z-index: 31;
          background-color: $medium-white-color;
          box-shadow: $light-box-shadow;
          padding: 12px 10px;
          border-radius: 10px;
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s linear;
          &::before {
            content: "";
            position: absolute;
            top: -10px;
            right: 0;
            width: 100%;
            height: 10px;
            background-color: transparent;
          }
          .menu-item {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: $txt-color;
            padding: 10px 10px 10px 6px;
            white-space: nowrap;
            transition: background-color 0.2s linear;
            border-radius: 10px;
            &:first-child {
              i {
                margin-left: 1px;
                margin-right: 5px;
              }
            }
            i {
              width: 22px;
              height: auto;
              font-size: 1.5rem;
              margin-left: 5px;
            }
            &:hover {
              background-color: $main-light-color;
            }
          }
        }
        &:hover {
          background-color: $main-light-color;
          .tool-left-menu {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  .message-left-search {
    padding: 0 10px;
    margin-top: 2px;
    margin-bottom: 15px;
    position: relative;
    .search-wrapper {
      padding: 0px 15px 0px 35px;
      background-color: $main-light-color;
      border-radius: 20px;
      position: relative;
      border: 1px solid $line-color;
      input {
        padding: 10px 0;
        width: 100%;
        outline: none;
        border: none;
        font-size: 1.2rem;
        color: $txt-color;
        background-color: transparent;
        &::placeholder {
          color: $txt-light-color;
        }
      }
      span {
        font-size: 1.5rem;
        color: $txt-light-color;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translate(50%, -50%);
      }
    }
    .search-modal {
      position: absolute;
      z-index: 30;
      top: 50px;
      left: 10px;
      right: 10px;
      background-color: $medium-white-color;
      border-radius: 10px;
      box-shadow: $light-box-shadow;
      // border: 1px solid $line-color;
      padding: 12px 6px 12px 10px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s linear;
      &.--active {
        visibility: visible;
        opacity: 1;
      }
      .search-modal__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .search-modal__list {
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        /* width */
        &::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: $medium-white-color;
          border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $main-color;
          border-radius: 3px;
        }
        .search-item a {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 10px 6px;
          border-radius: 10px;
          transition: background-color 0.2s linear;
          cursor: pointer;
          &:hover {
            background-color: $main-light-color;
          }
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
          span {
            font-size: 1.3rem;
            color: $txt-color;
            margin-left: 10px;
          }
        }
      }
      .search-modal__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        img {
          width: 80px;
          height: 80px;
        }
        span {
          font-size: 1.3rem;
          color: $txt-color;
        }
      }
    }
  }
  .message-left-list {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    padding-bottom: 10px;
    max-height: 380px;
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      display: none;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $main-light-color;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $main-color;
      border-radius: 3px;
    }

    &:hover::-webkit-scrollbar {
      display: unset;
    }
  }
}
.message-box {
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  .message-box__left {
    width: 45px;
    height: 45px;
    outline: 1px solid $line-color;
    background-color: #6e83b7;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .active-dot {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10px;
      height: 10px;
      background-color: $green-color;
      outline: 2px solid $medium-white-color;
      border-radius: 50%;
    }
  }
  .message-box__center {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    flex: 1;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.message-box-name {
        max-width: 220px;
      }
      &.message-content {
        max-width: 110px;
      }
    }
    .message-box-name {
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: $txt-color;
    }
    .message-box-description {
      margin-top: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .message-content {
        font-size: 1.2rem;
        color: $txt-light-color;
      }
      .message-time {
        font-size: 1rem;
        color: $txt-light-color;
      }
    }
  }
  .message-box__right {
    margin-left: auto;
    position: absolute;
    top: 15px;
    right: 10px;
    .message-tool {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s linear;
      .message-tool__icon {
        font-size: 1.4rem;
        color: $txt-light-color;
        cursor: pointer;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .message-box-status-dot {
    position: absolute;
    top: 50%;
    right: -3px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    background-color: $main-color;
    border-radius: 50%;
    display: none;
  }
  &.--unread {
    .message-box__center span.message-box-name {
      font-weight: 600;
    }
    .message-box-status-dot {
      display: inline-block;
    }
  }
  &:not(&.--active):hover {
    background-color: $main-light-color;
  }
  &:hover .message-tool {
    visibility: visible;
    opacity: 1;
  }
  &.--active {
    background-color: $main-light-color;
  }
}
.message-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.message-right-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 1.6rem;
    color: $txt-color;
    font-weight: 600;
  }
}
.message-right-loading {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 60px;
    height: 60px;
  }
}
.message-right__top {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
  border-bottom: 1px solid $line-color;
  .message-info {
    display: flex;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 50%;
      outline: 1px solid $line-color;
      background-color: #6e83b7;
    }
    span {
      font-size: 1.4rem;
      color: $txt-color;
      font-weight: 600;
      margin-left: 10px;
    }
  }
  .message-tool {
    display: flex;
    gap: 5px;
    .message-tool__item {
      cursor: pointer;
      padding: 8px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s linear;
      position: relative;
      span {
        font-family: $second-font;
        font-size: 1.8rem;
        color: $main-color;
      }
      &:hover {
        background-color: $main-light-color;
        .group-info-menu {
          opacity: 1;
          visibility: visible;
        }
      }
      .group-info-menu {
        position: absolute;
        right: 0;
        top: calc(100% + 8px);
        z-index: 31;
        background-color: #fafafa;
        box-shadow: 0 3px 15px 2px rgb(0 0 0 / 8%);
        padding: 12px 10px;
        border-radius: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s linear;
        .group-info-menu__item {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          color: #405281;
          padding: 10px 10px 10px 8px;
          white-space: nowrap;
          transition: background-color 0.2s linear;
          border-radius: 10px;
          i {
            width: 20px;
            height: auto;
            margin-right: 2px;
          }
          &:hover {
            background-color: $main-light-color;
          }
        }
      }
    }
  }
}
.message-right__center {
  flex: 1;
  padding: 15px 10px 15px 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    // display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $medium-white-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 3px;
  }

  // &:hover::-webkit-scrollbar {
  //   display: unset;
  // }
  .message-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.message-right__bottom {
  display: flex;
  flex-direction: column;
  .message-media-content {
    .media-content-list {
      width: 100%;
      padding: 12px 12px;
      display: flex;
      overflow-x: auto;
      border-top: 1px solid $line-color;
      /* width */
      &::-webkit-scrollbar {
        height: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 3px;
      }
      .media-content-item {
        position: relative;
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        &:not(:last-child) {
          margin-right: 15px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        span {
          position: absolute;
          right: -9px;
          top: -9px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          font-size: 0.9rem;
          line-height: 0.9em;
          color: $txt-color;
          background-color: $main-light-color;
          border-radius: 50%;
          border: 1px solid $line-color;
          cursor: pointer;
          &:hover {
            background-color: $main-color;
            color: $medium-white-color;
          }
        }
      }
    }
  }
  .message-text-content {
    min-height: 60px;
    display: flex;
    align-items: flex-end;
    padding: 12px 12px;
    border-top: 1px solid $line-color;
    .message-action {
      display: flex;
      gap: 8px;
      margin-bottom: 3px;
      .message-action__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 1.8rem;
        color: $main-color;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          background-color: $main-light-color;
        }
      }
    }
    .message-input {
      margin-left: 15px;
      flex: 1;
      background-color: $main-light-color;
      border-radius: 20px;
      position: relative;
      .message-input__wrapper {
        display: flex;
        padding: 10px 0;
        textarea {
          width: 100%;
          height: 20px;
          font-size: 1.4rem;
          line-height: 2rem;
          color: $txt-color;
          padding: 0px 35px 0px 15px;
          border: none;
          outline: none;
          background-color: transparent;
          resize: none;
          overflow: hidden;
        }
        span {
          position: absolute;
          right: 10px;
          bottom: 0;
          transform: translateY(-50%);
          font-size: 2rem;
          color: $main-color;
          cursor: pointer;
          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
    .message-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      padding: 4px;
      border-radius: 50%;
      margin-left: 10px;
      margin-bottom: 3px;
      font-size: 2rem;
      color: $main-color;
      cursor: pointer;
      transition: all 0.2s linear;
      i {
        margin-top: 3px;
      }
      &:hover {
        background-color: $main-light-color;
      }
    }
    .no-active-notification {
      background-color: $main-light-color;
      border-radius: 5px;
      padding: 10px 10px;
      font-size: 1.3rem;
      text-align: center;
      color: $txt-color;
    }
  }
}
.message-right-no-data {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .no-data-title {
    font-size: 1.5rem;
    color: $txt-color;
    font-weight: 600;
  }
  .no-data-content {
    font-size: 1.3rem;
    color: $txt-color;
    margin-top: 4px;
  }
}
.setting-group-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 35;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $medium-white-color, $alpha: 0.5);
  border-radius: 10px;
}
.setting-group-modal {
  width: 400px;
  max-height: 440px;
  background-color: $medium-white-color;
  box-shadow: $light-box-shadow;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.setting-group-modal__header {
  padding: 15px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #e7e0f5;
  span {
    &:first-child {
      font-size: 1.6rem;
      font-weight: 600;
      color: $txt-color;
    }
    &:last-child {
      position: absolute;
      right: 15px;
      top: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px solid #e7e0f5;
      background-color: #f3f0fa;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
.setting-group-modal__body {
  padding: 15px 15px;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $medium-white-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 3px;
  }
  .setting-group-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    label {
      display: inline-block;
      font-size: 1.1rem;
      color: $txt-color;
      margin-bottom: 6px;
    }
    .setting-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      .group-avatar {
        margin-right: 8px;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
      .avatar-tool {
        position: relative;
        &:hover span {
          color: $main-color;
        }
        span {
          font-size: 1.2rem;
          color: $txt-color;
          user-select: none;
          i {
            margin-right: 2px;
          }
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          padding: 0;
          cursor: pointer;
          &::-webkit-file-upload-button {
            visibility: hidden;
          }
        }
      }
    }
    .setting-group-name {
      input {
        width: 100%;
        border: 1px solid $line-color;
        outline: none;
        font-size: 1.3rem;
        padding: 10px 10px;
        border-radius: 5px;
        background-color: $medium-white-color;
      }
    }
    .setting-member {
      display: flex;
      flex-direction: column;
      .member-list {
        display: flex;
        gap: 8px 7px;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .member-item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px 5px 2px 7px;
          border-radius: 5px;
          background-color: $main-light-color;
          border: 1px solid $line-color;
          span {
            color: $main-color;
            &:first-child {
              font-size: 1.1rem;
            }
            &:last-child {
              width: 18px;
              height: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.1rem;
              line-height: 1.1rem;
              border-radius: 50%;
              margin-left: 3px;
              cursor: pointer;
              flex-shrink: 0;
              &:hover {
                border: 1px solid $line-color;
              }
            }
          }
        }
      }
      .member-search {
        .member-search__input {
          position: relative;
          input {
            width: 100%;
            border: 1px solid $line-color;
            outline: none;
            font-size: 1.3rem;
            color: $txt-color;
            padding: 10px 38px 10px 10px;
            border-radius: 5px;
            background-color: $medium-white-color;
            &::placeholder {
              font-size: 1.2rem;
            }
          }
          span {
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            font-size: 1.5rem;
            color: $txt-color;
            padding: 6px 8px;
            cursor: pointer;
            &:hover {
              color: $main-color;
            }
          }
        }
        .member-search__modal {
          padding: 6px 8px 8px;
          background-color: $medium-white-color;
          border-radius: 10px;
          margin-top: 10px;
          border: 1px solid $line-color;
          .close-btn {
            text-align: right;
            margin-bottom: 2px;
            span {
              font-size: 1.2rem;
              color: $txt-color;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .member-search-list {
            max-height: 180px;
            overflow-y: auto;
            /* width */
            &::-webkit-scrollbar {
              width: 4px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              background: $medium-white-color;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: $main-color;
              border-radius: 3px;
            }
            .member-search-item {
              display: flex;
              align-items: center;
              padding: 8px 6px;
              border-radius: 10px;
              cursor: pointer;
              user-select: none;
              &:hover {
                background-color: $main-light-color;
              }
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
              span {
                font-size: 1.3rem;
                line-height: 1.6rem;
                color: $txt-color;
                margin-left: 8px;
              }
            }
          }
        }
        .member-search-empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 120px;
          img {
            width: 60px;
            height: 60px;
          }
          span {
            font-size: 1.3rem;
            color: $txt-color;
          }
        }
        .member-search-loading {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 120px;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
.setting-group-modal__footer {
  text-align: center;
  padding: 10px 12px;
  .setting-group-modal-alert {
    font-size: 1.2rem;
    color: $red-color;
    margin-bottom: 5px;
  }
  button {
    text-transform: unset;
    &:hover {
      filter: brightness(1.15);
    }
  }
}
.setting-group-modal__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $medium-white-color, $alpha: 0.5);
  img {
    width: 60px;
    height: 60px;
  }
}
.detail-media-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  .detail-media-modal-close {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    font-size: 2rem;
    color: $medium-white-color;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      background-color: $medium-white-color;
      color: $main-color;
    }
  }
  .detail-media-modal {
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .detail-media-modal__img {
      padding: 15px 15px;
      width: 100%;
      max-width: 660px;
      height: 100%;
      max-height: 460px;
      display: flex;
      background-color: rgba($color: $medium-white-color, $alpha: 1);
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: contain;
      }
    }
    .detail-media-modal__loading {
      width: 640px;
      height: 420px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
  }
}
